/* src/styles/global.css */
.global-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .global-mask .ant-spin {
    color: #fff;
  }
  
  .global-mask .ant-spin-text {
    color: #fff;
    margin-top: 16px;
    font-size: 16px;
  }